DATABASE_URL=jdbc:postgresql://localhost:5432/woorijip
DATABASE_USERNAME=woorijip
DATABASE_PASSWORD=woorijip
PORT=8080
API_URL=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:3000
